
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair';
    src: url('assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

body {
    min-height: 100vh;
    width: 100vw;
}

.main {
    --image-height: 500px;


    display: flex;
    flex-direction: column;
}

/* About me section */
.about-me {
    min-height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    padding-top:48px;
}

.about-me::before {
    content: '';
    width: 100%;
    height: var(--image-height);
    background-color: aqua;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform-origin: left;
    transform: skewY(-0.3rad) ;
}   

.about-me .img-container {
    min-width: 80vw;
    height: var(--image-height);

    background: url('/assets/images/developer.jpg') ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-me .content {
    max-width: 80vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* for test */

.content > *{
    border: 1px solid red;
}